/* Global */

@import '/global/fonts.pcss';
@import '/global/box-model.pcss';
@import '/global/variables.pcss';
@import '/global/page.pcss';

/* Blocks */

@import '../blocks/body/body.pcss';
@import '../blocks/header/header.pcss';
@import '../blocks/special/special.pcss';
@import '../blocks/map/scroll.pcss';
@import '../blocks/map/map.pcss';
@import '../blocks/footer/footer.pcss';
